# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data (Pushed as requested)
# data/raw/*.csv
# data/processed/*.csv
# data/features/*.csv

# IDEs
.vscode/
.idea/

# Project Specific
.agents/
data/*.png
